{{#if book}}<h3>{{ book.title }}</h3>{{/if}}
{{#if book}}<p>{{ book.author }}</p>{{/if}}
{{#if book}}<img src={{book.cover}}>{{/if}}
{{#if id }}
  <hr/>
  <p>
    <a href="/books/destroy?id={{id}}">Delete</a>
|   <a href="/books/edit?id={{id}}">Edit</a>
  </p>
{{/if}}
